#

In [15]:
import pandas as pd
data = pd.read_csv('nobel.2.1.csv')
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     935 non-null    int64
 1   firstname              935 non-null    object
 2   surname                906 non-null    object
 3   year                   935 non-null    int64
 4   category               935 non-null    object
 5   affiliation            685 non-null    object
 6   city                   680 non-null    object
 7   country                681 non-null    object
 8   born_date              902 non-null    object
 9   died_date              627 non-null    object
 10  gender                 935 non-null    object
 11  born_city              907 non-null    object
 12  born_country           907 non-null    object
 13  born_country_code      907 non-null    object
 14  died_city              608 non-null    object
 15  died_country           614 non-null    object
 16  died_country_code      614 non-null    object
 17  overall_motivation     17 non-null     object
 18  share                  935 non-null    int64
 19  motivation             935 non-null    object
 20  born_country_original  907 non-null    object
 21  born_city_original     907 non-null    object
 22  died_country_original  614 non-null    object
 23  died_city_original     608 non-null    object
 24  city_original          680 non-null    object
 25  country_original       681 non-null    object
dtypes: int64(3), object(23)
memory usage: 190.0+ KB
None

In [2]:
print(data.columns)

Index(['id', 'firstname', 'surname', 'year', 'category', 'affiliation', 'city',
       'country', 'born_date', 'died_date', 'gender', 'born_city',
       'born_country', 'born_country_code', 'died_city', 'died_country',
       'died_country_code', 'overall_motivation', 'share', 'motivation',
       'born_country_original', 'born_city_original', 'died_country_original',
       'died_city_original', 'city_original', 'country_original'],
      dtype='object')

In [3]:
nobel_living = data[
        (data['country'].notna ()) & 
    (data['gender'] !=  'org') & 
    (data['died_date'].isna())
]
print(nobel_living.shape)

(228, 26)

In [4]:
location_counts = nobel_living['country']. value_counts ()
most_common_location = location_counts.idxmax()
print(f": {most_common_location}")

: USA